<div data-role="appbar" data-expand-point="md">
    <a href="/framework" class="brand no-hover">
        <span class="p-2 border-radius">
            <strong>TS Framework</strong>
        </span>
    </a>

    <ul class="app-bar-menu app-bar-menu-right">
        <li><a href="/framework/logout">Log Out</a></li>
    </ul>
</div>